h1{
  color: white;
}

.principal_container{
  margin: 50px
}

.cards_container{
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.error{
  display: flex;
  justify-content: center;
  font-size: 67px;
  color: red;
}